# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Environment variables
config/.env
.env

# Log files
logs/
*.log

# IDE / Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace